@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
	box-sizing: border-box;
}
:root {
	--purple: #36384c;
	--white: #fff;
	--grey: #949494;
	--blue800: #242742;
	--blue700: #36384D;
	--red: #FF6155;
}
body {
	height: 100vh;
	background-color: var(--purple);
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: var(--blue800);
}
main {
	background-color: var(--white);
	max-width: 904px;
	border-radius: 36px;
	padding: 16px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#illu-desktop {
	display: block;
}
#illu-mobile {
	display: none;
}
form {
	max-width: 376px;
	margin-right: 64px;
}
#flex-label {
	display: flex;
	justify-content: space-between;
}
label {
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 700;
}
input {
	border-radius: 8px;
	border: 1px solid var(--grey);
	color: var(--grey);
	padding: 16px 24px;
	font-size: 16px;
	line-height: 1em;
	width: 100%;
	margin: 8px 0 0;
}
input:focus {
	color: var(--blue800);
}
picture {
	max-width: 400px;
	margin: 0;
	padding: 0;
}
picture img {
	width: 100%;
	display: block;
}
h1 {
	font-size: 56px;
	line-height: 1em;
	margin: 0 0 32px;
}
h2 {
	font-size: 56px;
	line-height: 1em;
	margin: 32px 0;
}
p {
	margin: 0 0 32px;
}
ul {
	padding: 0;
	margin: 0 0 32px 0;
	list-style-type: none;
}
ul li {
	background: url(assets/images/icon-list.svg) center left no-repeat;
	background-size: 21px;
	padding-left: 37px;
}
ul li:not(:last-of-type) {
	margin-bottom: 8px;
}
button {
	margin: 32px 0 0;
	display: block;
	background-color: var(--blue800);
	color: var(--white);
	border-radius: 8px;
	border: 0;
	width: 100%;
	font-weight: 700;
	font-family: Roboto, Arial, sans-serif;
	padding: 16px;
	font-size: 16px;
	line-height: 1.5em;
}
#valid-email {
	color: var(--red);
}
.dnone {
	display: none;
}
.dblock {
	display: block;
}
.invalid, .invalid:focus, .invalid:active {
	background-color: #ffe7e6;
	color: var(--red);
	border-color: var(--red);
}
subscribed {
	background-color: var(--white);
	border-radius: 36px;
	padding: 64px;
	max-width: 504px;
}
#dismiss:hover {
	background: linear-gradient(to right,  #ff6a3a 0%,#ff527b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* max width auf Wrapper Breite für hyphens */
@media screen and (max-width: 608px) {
	main {
		flex-direction: column-reverse;
		padding: 40px;
	}
	picture {
		display: block;
		width: 100%;
		max-width: 100%;
		margin: 0 0 40px;
		padding: 0;
	}
	picture img {
		display: block;
		width: 100%;
		height: auto; 
		max-width: 100%;
		border-radius: 16px;
	}
	form {
		max-width: 608px;
		margin-right: 0;
	}
}
@media screen and (max-width: 375px) {
	body {
		justify-content: flex-start;
		align-items: flex-start;
	}
	main {
		padding: 24px;
		border-radius: 0;
	}
	h1 {
		font-size: 40px;
		line-height: 1em;
	}
	ul li {
		background: url(assets/images/icon-list.svg) top left no-repeat;
	}
	picture {
		max-width: inherit;
		width: calc(100% + 48px) !important;
		margin: -24px -24px 40px;
	}
	picture img {
		border-radius: 0;
	}
}